</div>
<footer style="background:#f1f1f1; padding:10px; text-align:center;">
  <p>&copy; <%= new Date().getFullYear() %> My Application. All rights reserved.</p>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
